/* this is CSS Main page*/

body {
  background: ;
  color: #66C;
}

p {
line-height: 1.5em;
}

h1 {
color:#F4FF8D;
font-size: 70px;
text-align: right;;
}

h3 {
color:#F4FF8D;
font-size: 50px;

.img


.content {
display: inline-block;
width: 100%;
padding: 20px;
font font-family: "Helvetica", "Arial", "sans-serif"


}

body {
  background: ;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: inline-block;
  width: 100%;
  background: blue;
}

.box {
  float: right;
  width: 150px;
  height: 150px;
  background: green;
}

.main-nav {
  width: 100%;
}

.Languages {
  float: left;
  width: 50%;
  padding: 20px;

}

.main-nav ul {
margin-left: 20px;
margin-right: 20px;
}

.main-nav li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}


/* This is css contact */
