* {
  box-sizing: border-box;
}

html {
  background: url(/Users/joanna/Sites/joanna.github.io/storona/images/nowetlo2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 0;
  height: 10%;
  margin-left: 10px;

}

body {
  margin-top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: none;
  margin: 0;
  padding: 60px 60px;
}

/* experyment with cosmos*/


html::before,
html::after,
body::before,
body::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: .4vmin;
  height: .4vmin;
  border-radius: 10%;
}

h1 {
  margin-top: 500px;
  height: 10vmin;
  width: 120vmin;
  display: flex;
  justify-content: center;
  position: relative;
}

h1:before {

  display: block;
  position: absolute;
  z-index: -1;
  top: -26vmin;
  left: 29vmin;
  width: 62vmin;
  height: 62vmin;
  border-radius: 50%;
  /*border: 1.3vmin solid currentColor;*/
  box-sizing: border-box;
}

em {
  font-family: 'Minion Pro', serif;
  color: blue;
  font-size: 10vmin;
  position: relative;
  font-style: italic;
  width: 15vmin;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  position: relative;
}

em.planet::before {
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 3.5vmin;
  z-index: -1;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  background: blue;
}

em.planet.left {
  -webkit-transform-origin: 40vmin 5vmin;
  transform-origin: 40vmin 5vmin;
}

em.planet.right {
  -webkit-transform-origin: -20vmin 5vmin;
  transform-origin: -20vmin 5vmin;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

/* end of experyment*/


/*

.header {
  background-color: none;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 210px;
  left: 0px;

}
*/
.header1 {
  background-color: none;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: -20px;
  left: 0px;

}

ul {
  margin: 30px auto;
  text-align: center;
  padding-left: 0px;

}

li {
  color: blue;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  /*text-transform: uppercase;*/
  padding: 40px;

}

img {
width: 100%;
height: auto;

}

li:hover {
  color: yellow;
}

a {
  text-decoration: none !important;
  color:  blue;
}

a:hover {
    color: rgb(255, 57, 248);
    text-decoration: none;
}



/*.box {

float: left;
margin: auto;
width: 30%;
display: block;
width: 182px;
padding: 4px;
background: #eee;
text-align: center;

}*/


.grow img {
  height: 300px;
  width: 300px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
}

/*footer*/
.container {
font-size: 12px;
font-family: 'Quicksand';
font-style: italic;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
background-color: white;
text-align: center;
position: fixed;
color: blue;
}

/*contact*/
.joanna{
padding-top: 300px !important;
text-align: center !important;
margin-top: 210px !important;
font-family: 'quicksand';
color: blue;
}



.logo {
top: 10px;
left: 30px;
position: fixed;
width: 100px;
}


.menuportfolio {
float: left;
display: inline;
width: 33.33%;
margin-top: 90px;
padding: 20px;

}

.allmenuportfolio {
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;

}


.content {
  text-align: center;
  height: auto;
  margin-top: 1300px;
  margin-bottom: 60px;
  float: none;
  clear: both;
}

.picture {
padding-left: 200px;
padding-right: 200px;
margin: 20px;
}

.illu {
margin-top: 200px;


}

/*hover*/

/*.bw {
  -webkit-transition: all 0.05s ease;
     -moz-transition: all 0.05s ease;
       -o-transition: all 0.05s ease;
      -ms-transition: all 0.05s ease;
          transition: all 0.05s ease;
}

.bw:hover {
  -webkit-filter: saturate(9.2);
}*/
